@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.hover-scale {
  transition: transform 0.3s;
}

.hover-scale:hover {
  transform: scale(1.05);
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full viewport height */
}
